# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
Ponto/Logs/

# Publicação
publish/
*.pubxml
*.pubxml.user

# Pacotes NuGet
*.nupkg
packages/

# Cobertura de testes
TestResults/
coverage/
*.coverage
*.coveragexml

# Variáveis de ambiente
.env
*.env.local

# Sistema operacional
Thumbs.db
.DS_Store
